* {
  box-sizing: border-box;
}
.hidden {
  display: none;
}

body {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  border: 1px solid transparent;
}
#test1 {
  position: relative;
  margin-top: 100px;
}
#logOut {
  margin: 0px;
  padding: 0px;
  position: absolute;
  background-color: red;
  margin-left: 10px;
}

#weather {
  font-size: 20px;
  color: white;
  /* display: flex;
  justify-content: right;
  align-items: right; */
  position: absolute;
  right: 0%;
  margin-right: 10px;
}

#clock {
  color: rgb(255, 255, 255);
  font-size: 40px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 10vh; */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0px;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin: 30px;
}

.loginForm > input {
  background-color: transparent;
  border: 0px;
  font-size: 2em;
  margin: 0px;
  align-items: center;
  text-align: center;
}

.showIdCss {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

#todoForm {
  display: flex;
  position: sticky;
  top: 30px;
  justify-content: center;
  align-items: center;
}

#inputTodo {
  background-color: transparent;
  /* border-radius: 20px; */
  border: 0px;
  font-size: 20px;
  margin: 0px;
  text-align: center;
}

#todoList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  flex-direction: column;
  font-size: 50px;
  color: whitesmoke;
  margin: 10px;
}

li {
  margin: 10px;
}

#word > span:first-child,
#word > span:last-child {
  color: rgb(255, 255, 255);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: fixed;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%, 0);
}

#word > span:first-child {
  bottom: 20px;
}

li button {
  margin-left: 10px;
  padding: 10px;
  border: 0px;
  background-color: transparent; /*배경 투명하게*/
}

